<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Detection Video Player</title>
    <script src="face-api.js"></script>
    <script src="js/commons.js"></script>
    <script src="js/faceDirectionDetector.js"></script>
    <link rel="stylesheet" href="imageSwitcherStyles.css">
</head>
<body>
    <img id="contentImage" src="bananas-04.jpg" class="main-image"/>
    <div class="container" hidden>
        <div id="error" class="error"></div>
        <div>
            <div class="video-overlay" hidden>
                <video class="video-element" id="inputVideo" autoplay muted playsinline/>
            </div>
        </div>
    </div>
    <script src="js/imageSwitcher.js"></script>
</body>
</html>